<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{town}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let creature of tableOfCreatures">
    <ion-card-content >
      <ion-card-title>Lvl {{creature[0].Lvl}} <div *ngFor="let c of creature">
        {{c.Name}}
      </div></ion-card-title>
      <ion-grid>
        <ion-col>
          <ion-row>
            <ion-col>
              Attack
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Att}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Defense
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Def}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Damage
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.minDmg}}-{{c.maxDmg}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              HP
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.HP}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Speed
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Spd}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Growth
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Grw}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Value
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Val}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Cost
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Cost}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              +Cost
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.SpecialCost}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Special
            </ion-col>
            <ion-col *ngFor="let c of creature">
              {{c.Special}}
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>